********************************************************************************
                                                                                
                                                          :::      ::::::::     
     responsive.css                                     :+:      :+:    :+:     
                                                      +:+ +:+         +:+       
     By: mlavanan <marvin@42.fr>                    +#+  +:+       +#+          
                                                  +#+#+#+#+#+   +#+             
     Created: 2016/06/13 23:28:13 by mlavanan          #+#    #+#               
     Updated: 2016/06/13 23:56:59 by mlavanan         ###   ########.fr         
                                                                                
********************************************************************************

 <style>
    h6{}
    td, th {border:3px solid white; border-colapse:colapse;}
    h1 {text-align:center; color:white;}
    #cen {text-align:center; font-weight:bold; font-size:2vh}
    #tr {text-align:right; font-size:1vh}
    #dl {text-align:left; font-size:1vh}
  </style>